# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Model checkpoints
*.pth
*.pt

# Dataset
nuscenes/

# Output images
results/
outputs/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
